@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Roboto";
  background-image: linear-gradient(160deg, #050a12, #0a1a2f, #112e42, #1b2f4a);
  background-repeat: no-repeat;
  overscroll-behavior: none;
}

.header {
  @apply fixed top-0 left-0 right-0 z-50;
}

.side-bar .side-bar-desktop {
  @apply fixed top-0 left-0 bottom-0 z-100 mt-20  bg-[#030303]/90;
}

.side-bar nav ul li a.active {
  @apply bg-white/20 rounded-2xl;
}

.content-container {
  @apply relative top-0 ml-61 mr-10 mt-30 pb-28;
}

.content-container ul li a:hover i {
  @apply visible;
}

.content-container ul li a:hover img {
  @apply opacity-40;
}

.content-container .xScroll::-webkit-scrollbar {
  @apply h-1.5;
}
.content-container .xScroll::-webkit-scrollbar-track {
  @apply bg-neutral-900 rounded-full;
}

.content-container .xScroll::-webkit-scrollbar-thumb {
  @apply bg-neutral-500 rounded-full cursor-pointer;
}
